<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392675198451-uqlm27ar5hqtmoc6bhknvh50s3s959kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392675198451-uqlm27ar5hqtmoc6bhknvh50s3s959kb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392675198451-3ghfv56nn98tq4ooidisf7lcc97uneiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDogKE_5yCHSK9RCI9kkql-mqW6ba-h8ow</string>
	<key>GCM_SENDER_ID</key>
	<string>392675198451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appe.deliveryapp</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-flutter-f86e0</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-flutter-f86e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392675198451:ios:2f7a96b55ac06078057e86</string>
	<key>DATABASE_URL</key>
	<string>https://delivery-app-flutter-f86e0-default-rtdb.firebaseio.com</string>
</dict>
</plist>